<h1>Edit Hours</h1>
<br>

<% if flash[:alert] %>
    <p id="notice"><%= flash[:alert] %></p>
  <% end %>

<%= form_for(@hours) do |f| %>

  <%= f.text_area :content, :rows => 5, :cols => 30, :placeholder => "EX: Monday - Friday 10 am - 5 pm" %>

  <br>

  <%= f.submit 'Submit', class: "button-g" %>

<% end %>

<%= link_to 'Back', root_path %>