

<% if flash[:notice].present? %>
  <p id="notice"><%= flash[:notice] %></p>
<% end %>

<% if flash[:error].present? %>
  <p class="error"><%= flash[:error] %></p>
<% end %>

<section id="home">
  <div id="slideshow">
    <div>
      <%= image_tag('dog.jpg', :class => "cover-photo") %>
    </div>
    <div>
      <%= image_tag('boxes.jpg', :class => "cover-photo") %>
    </div>
    <div>
      <%= image_tag('truck.jpg', :class => "cover-photo") %>
    </div>
    <div>
      <%= image_tag('peach buckets.jpg', :class => "cover-photo") %>
    </div>

  </div>

  <div class="mailing_list">
    <h1>Stay updated!</h1>
    <br>
    <%= form_for Subscriber.new do |f| %>
      <%= f.email_field(:email, id: 'email', placeholder: 'me@example.com') %>
      <br>
      <br>
      <%= f.submit("Join", id: 'join') %>
    <% end %>
  </div>

  <div class="updates">
    <% @updates.each do |update| %>
      <div class="update">
        <div class="date">
          <h4><%= update.created_at.getlocal.strftime("%A, %B %e, %Y") %>: </h4>
        </div>
        <div class="content">
          <h4><%= update.content %></h4>
        </div>
        <!-- Admin ability to edit/delete posts -->
        <% if session[:user_id] %>

            <%= link_to 'Edit', edit_update_path(update), :class => "button-o" %>

            <%= link_to 'Delete', update_path(update), method: :delete, data: {confirm: "You sure?" }, :class => "button-r" %>

        <% end %>
      </div>
      <hr />
    <% end %>
  </div>

  <div class="boxes">
    <div class="box1">
      <a href="/InSeasonNow">
        <div class="box">
          <%= image_tag('peach-icon.png')%>
          <p>In Season Now</p>
        </div>
      </a>
    </div>

    <div class="box2">
      <div class="box">
      <!--   <h3>Our Current Hours:</h3> -->
          <div class="hours-content">
            <h3><%= @hours.content %></h3>
           <!--  <h4>*Subject to change based on weather conditions</h4> -->
          </div>

        <!-- Admin ability to EDIT hours -->
        <% if session[:user_id] %>
            <%= link_to 'Edit', new_hour_path, :class => "button-o", id: "button-o" %>
        <% end %>

        <!-- <h2>Our Hours: </h2>
        <h3>Monday-Friday</h3>
        <h3>9am-5pm*</h3>
        <h3>*Subject to change based on weather conditions</h3> -->
        <!-- <h3>Please check site beforehand if coming to visit.</h3> -->
        </div>
      </div>




    <div class="box3">
      <a href="/PickYourOwn">
        <div class="box">
          <%= image_tag('peach-icon.png')%>
          <p>Pick Your Own!</p>
        </div>
      </a>
    </div>
  </div>
</section>


