<section id="home">
  <div id="slideshow">
    <div>
      <%= image_tag('dog.jpg') %>
    </div>
    <div>
      <%= image_tag('family.jpg') %>
    </div>
    <div>
      <%= image_tag('boxes.jpg') %>
    </div>

  </div>


  <a href="/InSeasonNow">
    <div class="box">
      <%= image_tag('peach-icon.png')%>
      <p>In Season Now</p>
    </div>
  </a>

  <a href="/PickYourOwn">
    <div class="box">
      <%= image_tag('peach-icon.png')%>
      <p>Pick Your Own !</p>
    </div>
  </a>

  <a href="PeachFacts">
    <div class="box">
      <%= image_tag('peach-icon.png')%>
      <p>Peachy Fun Facts</p>
    </div>
  </a>
</section>
