<div class="page-title">
  <h2>Photo Gallery</h2>
</div>
<hr />

<% if session[:user_id] %>
  <%= link_to "Upload Photo", new_photo_path %>
<% end %>


<% @photos.each do |photo| %>
  <div class="photo">
    <%= link_to image_tag(photo.image.url(:original), class: "photo"), photo.image.url, target: '_blank' %>
  </div>
   <!-- photo.image.url(:original), rel: "lightbox[imagesetname]"  -->
  <div class="desc">
    <h4><%= photo.title %></h4>
  </div>
 <!--  ADMIN: -->
  <% if session[:user_id] %>
    <%= link_to "Edit", edit_photo_path(photo) %>
    <%= link_to "Delete", photo_path(photo), method: :delete, data: {confirm: "You sure?" } %>
  <% end %>
<!-- </div> -->
<% end %>

