<div class="page-title">
  <h2>Photo Gallery</h2>
</div>
<hr />

<% if session[:user_id] %>
  <%= link_to "Upload Photo", new_photo_path, class: "button-g" %>
<% end %>

<div class="wrap">
  <% @photos.each do |photo| %>
    <div class="photoOuter">
      <div class="photoInner">
        <%= link_to image_tag(photo.image.url(:original), class: "photo") %>
     <!-- photo.image.url(:original), rel: "lightbox[imagesetname]"  -->
        <div class="titleBox">
          <h4><%= photo.title %></h4>
        </div>
      </div>
        <!--  ADMIN: -->
        <div class="admin-links">
          <% if session[:user_id] %>
            <%= link_to "Edit", edit_photo_path(photo), class: "button-o" %>
            <%= link_to "Delete", photo_path(photo), class: "button-r", method: :delete, data: {confirm: "You sure?" } %>
          <% end %>
        </div>
    </div>

  <% end %>
</div>





