<div class="page-title">
  <h2>Photo Gallery</h2>
</div>
<hr />

<!-- (can use partial here) (render @photos) -->
<% @photos.each do |photo| %>
<div class="img">
  <%= link_to image_tag(photo.image.url(:original), class: "photo"), photo.image.url, target: '_blank' %>
  <h4 class="desc"><%= photo.title %></h4>
 <!--  ADMIN: -->
  <% if session[:user_id] %>
    <%= link_to "Edit", edit_photo_path(photo) %>
    <%= link_to "Delete", photo_path(photo), method: :delete, data: {confirm: "You sure?" } %>
  <% end %>

<% end %>

<% if session[:user_id] %>
  <%= link_to "Upload Photo", new_photo_path %>
<% end %>