<h1>Upload Photo</h1>
<br>
<%= form_for @photo do |f| %>
  <!-- (render error messages) -->
  <div class="photo-caption">
    <h3>Caption</h3>
    <%= f.text_area :title, rows: 10, cols: 50 %>
  </div>

  <div class="photos">
    <%= f.label :image %>
    <%= f.file_field :image %>
  </div>

  <%= f.submit 'Upload', class: "button-g" %>

<% end %>

<%= link_to "Back", photos_path %>