<!DOCTYPE html>
<html>
<head>
  <title><%= @page_title || "Larken Farms" %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
</head>

<body>

  <div id="header">
    <div id="title">Larken Farms Orchard</div>
    <a href="https://www.facebook.com/Larken-Farms-103050449742557/timeline"><%= image_tag("FB-58.png", alt: "FB", :class => "media") %></a>
    <div id="navbar">
      <ul>
        <li><a href="/" <% if @page == 'h' %>class="selected" <% end %>>Home</a></li>
        <li><a href="/about" <% if @page == 'a' %>class="selected" <% end %>>About Us</a></li>
        <li><a href="/produce" <% if @page == 'p' %>class="selected" <% end %>>Our Produce</a></li>
        <li><a href="/gallery" <% if @page == 'g' %>class="selected" <% end %>>Gallery</a></li>
       <!--  STORE CATALOG: -->
        <!-- <li><a href="/stores" <% if @page == 'o' %> class="selected" <% end %>>Ordering</a></li> -->
        <li><a href="/location" <% if @page == 'l' %>class="selected" <% end %>>Location</a></li>
        <li><a href="/contacts" <% if @page == 'c' %>class="selected" <% end %>>Contact</a></li>
        <li><a href="/FAQs" <% if @page == 'f' %>class="selected" <% end %>>FAQ's</a></li>
      </ul>
    </div>
  </div>


  <div id="content">
   <% if session[:user_id] %>
        <div id="admin-content">
          <!-- <div id="cart"> -->
          <!-- </div> -->
          <ul>
            <li><%= link_to 'Update Photos', photos_path %></li>
            <li><%= link_to 'Add an Update', new_update_path %></li>
           <!--  <li><%= link_to 'Orders', orders_path %></li> -->
            <li><%= link_to 'Products', products_path %></li>
            <li><%= link_to 'Subscribers', subscribers_path %></li>
            <li><%= link_to 'Admins', users_path %></li>
          </ul>
          <%= button_to 'Logout', logout_path, method: :delete %>
        </div>
    <% end %>

    <%= yield %>
<!--
    <%= image_tag("grass-footer.jpg", :id => "grass-footer")%> -->

  </div>


</body>
</html>
